*{
	margin:0;
	padding:0;
}

body{
	background:rgba(255,255,255,1);
	color:rgba(25,25,25,1);
	font-family: 'Roboto', sans-serif;
	font-weight:400;
}

h1, h2, h4, p{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	color:rgba(0,0,255,100);
}

h3{
	font-family: 'Black Han Sans', sans-serif;
	font-weight:900;
	color:rgba(0,0,255,100);
	text-align:left;
	padding-left: 2%;
}



h1{
	letter-spacing:0.1em;
	color:rgba(0,0,255,100);
	text-align:left;
	padding-left: 2%;
}

h2{
	letter-spacing:0.02em;
	color:rgba(0,0,255,100);
	padding-left: 2%;
	text-align:left;

}


h4, h5, h6{
	font-weight:left;
	font-weight:600;

}

#contenido{width:98%; margin:1% auto;}

header{
	width:98%;
	top:40%;
	position: absolute;
	text-align:center;
	z-index:9;
	color:white;
}

@media screen and (max-width: 980px){
	header{top:20%;}
}

@media screen and (max-width: 760px){
	header{top:10%;}
}

video{
	width:100%;
	height:auto;
	padding-left:20%;
	}

#somos{
	width:100%;
	height:100%;
	background:rgb(250,250,250,100);
	margin-bottom:;
	}

.dupla{
	width:100%;
	height:auto;
	padding:0%;
	float:center;
	background:rgb(250,250,250,100);
	}

.dupla a{
	color:rgba(0,0,255,0.75);
	text-decoration:none;
	font-weight:700;
}

.dupla a:hover{
	color:rgba(0,0,255,100);
	text-decoration: line-through;
}

.primera{
	background-color:rgba(255,255,255,100);
	background-image:url('media/dupla-02.png');
	background-position: 90% 20%;
	background-repeat:no-repeat;
	background-size:auto 40%;
	background-origin: padding-box;
}
.primera h4{padding: 2% 30% 1% 2%; }

.primera h3{padding-bottom: 2%; }

.primera h5{ margin-bottom:0em;	text-align:center; padding-bottom: 2%; padding-top: 0.5%; color:rgba(0,0,255,100);}

.primera p{	font-size:0.1em;
	letter-spacing:0.05em;
	padding-left: 2%;
	color:rgba(255,255,255,100);
	padding-bottom: 2%;
	font-size:0.5em;
font-weight:400;}

.primera address{ font-size:0.9em; font-style:normal;text-align:center;color:rgba(0,0,255,100);}


#somos hr{
	clear:both;
	border:none;
	}

#portafolio{
	width:100%;
	padding-bottom:10%;
	background:linear-gradient(to bottom, #0000ff, #FFFFFF);
}

.item {
	width:49%;
	margin-left:0.66%;
	margin-top:0.66%;
	color:#333;
	background:white;
}

.item:hover{
	cursor:help;
}

.item figure{
	overflow:hidden;
}

.item figure img{
	width:100%;
	height:auto;
	margin-bottom:-4px;
}



.item h4{
	font-size:0.8em;
	letter-spacing:0.025em;
	margin:1% 1% 1% 1%;
	text-align:left;
}

.item p{
	font-size:0.875em;
	letter-spacing:0.05em;
	margin:2% 1% 2% 1%;
	font-size:0.5em;
}

#logo{
min-height: 100px;
max-height: 200px;
position: relative;

}
 .logo figure img{
	width:17%;
	padding-left: 74%;
position:center;
position: absolute;
padding-bottom: 10%;


}
.logo h4{
	font-size:0.8em;
	letter-spacing:0.025em;

	text-align: center;
	top: 50%;
	text-transform:uppercase;
	position: absolute;
left: 0;
top: 50%;
width: 100%;

}

.logo p{
	font-size:0.1em;
	letter-spacing:0.05em;

	text-align: center;
	text-transform:uppercase;
	position: absolute;
	left: 0;
	top: 70%;
	width: 100%;
}



@media screen and (orientation: portrait){

	.dupla{
		width:96%;
		padding:2%;
		float:left;
	}
	.item{
		width:48%;
		margin:1%;
		background:#F0E5D3;
		color:#333;
	}

	footer hr{
	width:20%;
	}
}
